.light {
  padding: 1em;
  border: 1px solid;
  background-color: white;
  color: black;
  width: 15em;
}
.dark {
  padding: 1em;
  border: 1px solid;
  background-color: black;
  color: white;
  width: 15em;
}
