.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
  .modal-container {
    background-color: #fefefe;
    margin: 10% auto;
    width: 50%;
    padding: 10px;
}